<ion-header>
  <ion-toolbar class="degradado" style="padding: 8px;">
    <ion-buttons slot="start">
      <ion-back-button style="--color:#C3CDD9" text="Atrás" defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="texto-toolbar bold-blanco">Alianzas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-app-rojo">
  <div class="datos-wrapper">
    <ion-row>
      <ion-col size = "12" class = "alinear-vertical">
        <img src="../../../assets/ALIANZA.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row style = "padding:6px">
      <ion-col size = "12" class = "alinear-vertical">
        <ion-text class = "texto-2 bold-blanco ion-text-center">Juntos Fortalecemos la <br> Medicina Cardiaca</ion-text>
      </ion-col>
    </ion-row>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/1.jpg');" class = "alianza"></div>
      </ion-col>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/2.jpg');" class="alianza"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/3.jpg');" class = "alianza"></div>
      </ion-col>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/4.jpg');" class="alianza"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/5.jpg');" class = "alianza"></div>
      </ion-col>
      <ion-col size="6">
        <div style = "background-image: url('../../../assets/6.jpg');" class="alianza"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
