<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notificaciones" href="/pages/notificaciones">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio" href="/pages/inicio">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="usuario" href="/pages/usuario">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
