<ion-header>
  <ion-toolbar class="degradado" style="padding: 8px;">
    <ion-buttons slot="start">
      <ion-back-button style="--color:#C3CDD9" text="Atrás" defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="texto-toolbar bold-blanco">Mesa Directiva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo-app-gris">
  
  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/4.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dra. Ana Cecilia Berni Betancourt</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>PRESIDENTA</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/5.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dr. Alex Daniel Pacheco Bouthillier</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>VICEPRESIDENTE</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/3.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dr. Eduardo del Río Bravo</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>SECRETARIO</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/1.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dr. Mauricio Cortés Aguirre</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>TESORERO</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/9.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dra. Dalia Lorena Cruz Villar</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>VOCAL</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-horizontal-content">
    <div class="img-horizontal" style='background-image: url("https://someec.mx/img/organigrama/2.png");'></div>
    <ion-card-content style="display: flex; flex: 1; flex-direction: column;">
      <ion-card-title class="texto-2" color="secondary" style="padding-bottom: 10px;">Dra. Selene Lara Aguilera</ion-card-title>
      <ion-text color="color-light" class="texto-1" style="padding-bottom: 20px;">
        <strong>VOCAL</strong>
      </ion-text>
      <ion-button class="full-width-img ion-no-padding ion-no-margin texto-1" fill="outline"
        style="--border-color: #E5192A; color: #E5192A;">Ver CV</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
