<ion-header> 
  <ion-toolbar class = "degradado" style = "padding: 8px;">
      <ion-buttons slot="start">
        <ion-back-button style = "--color:#C3CDD9" text="Atrás" defaultHref="/tabs/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title class = "texto-toolbar bold-blanco">Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "fondo-app-gris">
  <ion-card>
    <div style = 'background-image: url("https://i.ytimg.com/vi/-a2cl92KMng/sddefault.jpg?v=66ea2833");' class="slide-image"></div>
    <ion-card-header>
      <ion-card-title class = "texto-2" color = "secondary">Curso Internacional de Arritmias y Marcapasos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="icon-text">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>4 al 8 de noviembre 2025</span>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div style = 'background-image: url("https://static.wixstatic.com/media/b0ee25_d32bba881bc04e3b85655763c16dc289~mv2.png/v1/fill/w_1920,h_1080,al_c/b0ee25_d32bba881bc04e3b85655763c16dc289~mv2.png");' class="slide-image"></div>
    <ion-card-header>
      <ion-card-title class = "texto-2" color = "secondary">V CURSO Prevención y Tratamiento de las Complicacio...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="icon-text">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>4 al 8 de noviembre 2025</span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div style = 'background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4HnIwwlriTrs1FFEvMg8LBOOBld72Za3z8A&s");' class="slide-image"></div>
    <ion-card-header>
      <ion-card-title class = "texto-2" color = "secondary">XVII Congreso Internacional Cardiología 2025</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="icon-text">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>4 al 8 de noviembre 2025</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
